
@{
    ViewBag.Title = "PieChart";
}

<!-- 引入Chart.js库 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<!-- 在页面中添加图表容器 -->
<h2 id="h2">全體開放商</h2>
<h2>銷售佔比</h2>

<div>
    <label for="developerList">選擇開放商:</label>
    <select id="developerList">
        @foreach (var developer in ViewBag.DeveloperList)
        {
            <option value="@developer.Value">@developer.Text</option>
        }
    </select>
</div>

<div id="pie" style="height:65%;width:65%">
    <canvas id="myPieChart" width="100" height="100"></canvas>
</div>
<!-- 在页面底部初始化图表 -->
<script>
    var datas = [];
    var theH2 = document.getElementById('h2');
    var pie = document.getElementById('myPieChart').getContext('2d');
    var divPie = document.getElementById('pie');

    var theDeveloper = document.getElementById('developerList');

    var Piedata = [@Html.Raw(Json.Encode(ViewBag.PieChartData))];
    //下拉
    var list = [@Html.Raw(Json.Encode(ViewBag.DeveloperList))];

    console.log(list);

    var pieLabels = Piedata.flatMap(function (item) {
        return item.map(function (innerItem) {
            return innerItem.GameName;
        });
    });

    var pieValues = Piedata.flatMap(function (item) {
        return item.map(function (innerItem) {
            return innerItem.Amount;
        });
    });

    var myPieChart = new Chart(pie, {
        type: 'pie', // 替换为所需的图表类型
        data: {
            labels: pieLabels,
            datasets: [{
                label: '元',
                data: pieValues,
                backgroundColor: ['blue', 'orange', 'red'],
                borderColor: 'black',
                borderWidth: 1,

            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var DeveloperId = 0;

    theDeveloper.addEventListener('change', async event  => {

        DeveloperId = theDeveloper.value;
        theH2.innerHTML = theDeveloper.options[theDeveloper.selectedIndex].text;
            await loadDatas();

            //myChart.data.datasets[0].data[0] = datas[0];
            //myChart.data.datasets[0].data[1] = datas[1];
            //myChart.data.datasets[0].data[2] = datas[2];
            //myChart.data.datasets[0].data[3] = datas[3];

            //myChart.update();
        console.log(datas);
    });

    const loadDatas = async () => {
        const response = await fetch(`@Url.Content("~/GameData/GetPieDataFromDatabase")?id=${DeveloperId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        });

        datas = await response.json();
    }

</script>
