@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/Developer.cshtml";
}

<h2>會員中心</h2>

<div>
    @Html.ActionLink("修改個人資料", "EditProfile")
</div>

<div>
    @Html.ActionLink("更改密碼", "EditPassword")
</div>


